<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript" src="/java.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheet.css">
     <link rel="stylesheet" href="/styleuser.css">
    <title>Acceuil</title>
</head>
<body>
    <!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
    <div class="main_nav">
      <div class="container">
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li><a class="smoothscroll" href="#header">home</a></li>
            <li><a class="smoothscroll" href="#acceuil">Acceuil</a></li>
            <li><a class="smoothscroll" href="#about">about</a></li>
            <li><a class="smoothscroll" href="#Universite">Université</a></li>
            <li><a class="smoothscroll" href="#contact">contact</a></li>
           
            <li><a class="smoothscroll" href="help">Forum</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="title">
      <div><span class="typcn typcn-heart-outline icon heading"></span></div>
      <div class="smallsep heading"></div>
      <h1 class="heading"> Comité des oeuvres sociales </h1>
      <h2 class="heading">Ecole nationale superieure de l'informatique </h2>
      <a class="smoothscroll" href="#about">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      </a> </div>
    <a class="smoothscroll" href="#about">
    <div class="scroll-down"></div>
    </a> </header>
    <!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
<section id="about">
    <div class="container">
      <div class="row">
        <h1>About</h1>
        <div class="block"></div>
        <p>Le Comité d’oeuvres sociales (COS) est une association régie par la loi du 1 juillet 1901 qui assure aux agents des collectivités territoriales comme la fonction publique territoriale, les associations… de meilleures conditions de vie par le biais de versements de prestations à caractère social, mais également une gamme de prestations dans les domaines touristiques, culturels et de loisirs.</p>
      </div>
      <div class="row">
        <div class="six columns">
            <h3><span class="typcn typcn-lightbulb icon"></span>le principe des oeuvres sociales?</h3>
            <p>À noter : Avec l’arrivée du CSE, les élus auront la possibilité de reverser 10% du budget de fonctionnement vers le budget des oeuvres sociales. Le montant du versement du budget des oeuvres sociales vers celui de fonctionnement reste encore à définir. 2. Le principe des oeuvres sociales</p>
         
        </div>
        <div class="six columns">
            <h3><span class="typcn typcn-cog-outline icon"></span>Quelle sont les critères d'attribution des oeuvres sociales?</h3>
            <p>Le Code du travail ne formule pas précisément de critères d’attribution des œuvres sociales, mais il mentionne les principaux bénéficiaires. L’article L2312-78 du Code du travail précise en effet que ces avantages sont instaurés dans l’entreprise « prioritairement au bénéfice des salariés, de leur famille et des stagiaires ».</p>
         
        </div>
        <div class="row">
          <div class="six columns">
            <h3><span class="typcn typcn-pen icon"></span>Quelle est l'objectif des oeuvres sociales?</h3>
            <p>L’objectif des oeuvres sociales est d’améliorer les conditions de vie, de travail et d’emploi des bénéficiaires. Les attributions perçues peuvent être une vraie aide au quotidien pour ceux touchant un revenu plus faible.</p>
            
          </div>
          <div class="six columns">
            <h3><span class="typcn typcn-device-desktop icon"></span>Les oeuvres sociales, quelle utilité ? </h3>
            <p>Les élus du comité ont plusieurs missions au sein de l’entreprise. Ils sont notamment en charge d’établir le dialogue social entre l’employeur et les salariés ainsi que d’améliorer les conditions de travail et de vie des salariés.
  
              Les oeuvres sociales sont un moyen mis à disposition des CE/CSE pour aider les employés au quotidien à améliorer leur cadre de vie. Les salariés de l’entreprise peuvent recevoir des chèques cadeaux, chèques vacances, chèques culture, des voyages etc.</p>
            
          </div>
        </div>
      </div>
    </div>

<!-- Acceuil Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="acceuil">
  <div class="container">
    <div class="row">
      <h1>Acceuil</h1>
      <div class="block"></div>
      <div class="row">
        <div class="is-half">
          <h3>Actualité</h3>
          <p>1/Ouverture de la 45ème session de la CUN
            <br>16 MAI 2021
           <br> Erasmus+: Appel à candidature aux actions Jean Monnet
           <br> 4 MAI 2021
           <br> Extension de délai pour le concours d’écriture théâtrale
             <br> 14 AVRIL 2021
           <br> Avis de recrutement sur titre pour l’accès au grade de Maître-Assistant Classe « B »
           <br> 8 AVRIL 2021
           <br> UNESCO – Table Ronde en ligne sur l’éthique de l’IA 26 mars 2021 de 13h à 15h
           <br> 25 MARS 2021
           <br> Décret PNR 2021-2027: Publication du décret de mise en œuvre des programmes nationaux de recherche scientifique
           <br> 22 MARS 2021

           
            
           </p>
        </div>
        <div class="one-three-fifth column">
          <h3>liste des bénéficiaires du Omra 2020</h3>
          <table>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Age</th>
            </tr>
            <tr>
              <td>Lebcir</td>
              <td>roumaissa</td>
              <td>21 ans</td>
            </tr>
            <tr>
              <td>Ouarab</td>
              <td>Sarah</td>
              <td>21 ans</td>
            </tr>
            <tr>
              <td>Benaissa</td>
              <td>Abir</td>
              <td>22ans</td>
            </tr>
            <tr>
              <td>Boumezoued</td>
              <td>Nadjet</td>
              <td>21 ans</td>
            </tr>
            <tr>
              <td>Boumaraf</td>
              <td>Malak</td>
              <td>19ans</td>
            </tr>
            <tr>
              <td>Melki </td>
              <td>Yasser</td>
              <td>21 ans</td>
            </tr>
          </table>
      
        </div>
       
      </div>
    </div>
  </section>
 

     
    </div>
    <!-- University Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="Universite">
    <div class="container">
      <div class="row">
      <h1>Université</h1>
      <div class="block"></div>
      <div class="row">
        <div class="one-third column">
          <h3>Présentation</h3>
          <p>L’Ecole Supérieure en Informatique 08 mai 1945 de Sidi Bel Abbes est un établissement universitaire public, placé sous la tutelle du Ministère de l’Enseignement Supérieur et de la Recherche Scientifique, créé par le décret exécutif n° 14-232 du 25 août 2014.

           
            
           </p>
        </div>
        <div class="one-third column">
          <h3>formation</h3>
          <p>L’école assure des formations de graduation, post-graduation et de formation continue.
            
            Elle décerne le diplôme d’ingénieur d’état en informatique, pouvant être doublé d’un master, ainsi que le diplôme de docteur en informatique.</p>
        </div>
        <div class="one-third column">
          <h3>spécialité</h3>
          <p>L’école assure la spécialisation de ses ingénieurs dans :
              <br>


           <br> 1/Les Systèmes d'Information et Web (spécialité SIW).
           <br>
           <br>2/ L’Ingénierie des Systèmes Informatiques (spécialité ISI).</p>
        </div>
      </div>
     
        <div class="is-half">
            <h3>Missions et objectifs</h3>
          <p>En matière de formation supérieure, l'école a pour missions fondamentales dans son domaine de vocation :

            <br>1/d’assurer la formation des cadres (Ingénieur, Master, Magister, Docteur en sciences et Docteur en troisième cycle –Système LMD–).
            <br>2/d’initier les étudiants aux méthodes de recherche et d’assurer la formation pour la recherche.
            <br>3/de contribuer à la production et à la diffusion du savoir et des connaissances ; à leur acquisition et leur
            développement.
            <br>4/de participer à la formation continue.</p>
        </div>
      </div>
    </div>
  </section>
<!--liste des categories -->
<section id="articles" class="articles">
  
<div class="container">
  <h1>Les catégories</h1>
  <div class="block"></div>
  <div class="sort-filter-list">
      <div class="filters">
          <a href="#" data-filter="all" class="selected">Tout</a>
          <a href="#" data-filter="Aide sociale">Aide sociale</a>
          <a href="#" data-filter="service de santé">service de santé</a>
          <a href="#" data-filter="solidarité">Solidarité</a>
          <a href="#" data-filter="Nature">activité culturelle</a>
      </div>         
  </div>
  <div class="list list-wrapper"><div class="item" data-theme="solidarité" data-date="2-7-2018">
              <div class="image-container">
                  <img src="https://images.unsplash.com/photo-1518904868869-fbb2cdd0429a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0YXN0cm9waGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">solidarité</span>
                  <h2 class="title">Sous-chapitre 01 : Assistance en cas d’accident et de catastrophe</h2>
                  <p class="excerpt">المادة 22 تقدم اللجنة مساعدة مالية للمتضررين من موظفي و اساتذة المدرسة اتر حادث طارئ او كارثة طبيعية .</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="solidarité" data-date="3-6-2018">
              <div class="image-container">
                  <img src="https://images.unsplash.com/photo-1626427403451-06f32bd44027?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3Jpc2UlMjBzYW5pdGFpcmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">solidarité</span>
                  <h2 class="title">Sous-chapitre 02 : Assistance sur les conditions sociales et sanitaires </h2>
                  <p class="excerpt">المادة 26 تقدم اللجنة مساعدة مالية لموظفي و اساتذة المدرسة الذين هم في حاجة للمساعدة تخضع لتقدير اللجنة </p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="Aide sociale" data-date="4-10-2018">
              <div class="image-container">
                  <img src="https://images.unsplash.com/photo-1513159446162-54eb8bdaa79b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">Aide sociale</span>
                  <h2 class="title">Sous-chapitre 01 : Retraite</h2>
                  <p class="excerpt">المادة 01 تقدم اللجنة منحة التقاعد لكافة عمال و اساتذة المدرسة المحالين  على التقاعد بما فيهم المتحصلين على قرار فسخ العقد بسبب الاحالة على  التقاعد و المحالين على التقاعد من عطلة مرضية طويلة المدى </p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="nature" data-date="5-11-2018">
              <div class="image-container">
                  <img src="https://picsum.photos/400/200/?image=1022" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">Nature</span>
                  <h2 class="title">4 Lorem ipsum dolor</h2>
                  <p class="excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="solidarité" data-date="6-2-2018">
              <div class="image-container">
                  <img src="https://picsum.photos/400/200/?image=1023" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">solidarité</span>
                  <h2 class="title">5 Lorem ipsum dolor</h2>
                  <p class="excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="nature" data-date="7-10-2018">
              <div class="image-container">
                  <img src="https://picsum.photos/400/200/?image=1024" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">Nature</span>
                  <h2 class="title">6 Lorem ipsum dolor</h2>
                  <p class="excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="service de santé" data-date="8-11-2018">
              <div class="image-container">
                  <img src="https://images.unsplash.com/photo-1551190822-a9333d879b1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">service de santé</span>
                  <h2 class="title">Sous-chapitre 01: Opérations </h2>
                  <p class="excerpt">المادة  17 تسقف العمليات القيصرية في حدود مبلغ خمسين الف دينار (50000 دج) كحد اقصى  .</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="service de santé" data-date="9-3-2018">
              <div class="image-container">
                  <img src="https://th.bing.com/th/id/R.ce0d3402c0a99c67f8e4a88ea370ff5d?rik=WZkBcpdeXLEnmg&pid=ImgRaw" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">service de santé</span>
                  <h2 class="title">Sous- chapitre 02: Bains minéraux </h2>
                  <p class="excerpt">المادة  20 تتكفل اللجنة بتسديد 25% من قيمة العلاج بالحمامات المعدنية التي لا تتعدى خمسون الف (50000دج) </p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="nature" data-date="10-7-2018">
              <div class="image-container">
                  <img src="https://picsum.photos/400/200/?image=1027" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">Nature</span>
                  <h2 class="title">9 Lorem ipsum dolor</h2>
                  <p class="excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#">Lire</a>
              </div>
          </div><div class="item" data-theme="Aide sociale" data-date="11-3-2018">
              <div class="image-container">
                  <img src="https://images.unsplash.com/photo-1522752622479-65eefd320386?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVuZXJhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <div class="text-container">
                  <span class="thematique">Aide sociale</span>
                  <h2 class="title">Sous-chapitre 02 : décès </h2>
                  <p class="excerpt">المادة  02 تدفع منحة وفاة الموظف ,الاستاذ و المتقاعد من العمال و ذويهم اثر وفاة العامل ,الزوج(ة),احد الابناء او احد الوالدين. </p>
                  <a href="#">Lire</a>
              </div>
          </div></div>
         </div>
</section>
  <!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="block"></div>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleRecipientInput">Name</label>
          <input class="u-full-width" type="text">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Email</label>
          <input class="u-full-width" type="email">
        </div>
      </div>
      <div class="row">
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width"></textarea>
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
</section>
<!-- Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<footer>
  <div class="container">
    <div class="nine columns">
      <p> © Ecole nationale superieure de l'informatique.</p>
    </div>
    <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div>
  </div>
</footer>
  
    
</body>

</html>