<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titre> </title>
    <script type="text/javaScript">
    function show() {
    var p = document.getElementById('pwd');
    p.setAttribute('type', 'text');
}

function hide() {
    var p = document.getElementById('pwd');
    p.setAttribute('type', 'password');
}

var pwShown = 0;

document.getElementById("eye").addEventListener("click", function () {
    if (pwShown == 0) {
        pwShown = 1;
        show();
    } else {
        pwShown = 0;
        hide();
    }
}, false);
  
  </script>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}/* la fin des regles globales */

body {
    font-family: ''Vibur', cursive';
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
background-image:url("https://www.esi-sba.dz/fr/wp-content/uploads/commun/ecole-presentation/Sans-titre7.jpg" ) ;
background-size:cover;
background-repeat: no-repeat;
 }
form {
    width: 450px;
    min-height: 500px;
   text-align:center;
    height: auto;
    border-radius: 55px;
    margin: 4% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color: #0063AB;
}
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}
/* the header form form */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    color: #ffff;
}
h3{
  color: #ffff;
}
     

header p {letter-spacing: 0.05em;
        color: white;

}
.field-set{

    padding: 5px;
    margin: 2% auto 8% auto;
    width: 300px;
    text-align: left;

    
}
.input-item {
    background: #FFFFFF;
    color: #2334;
    padding: 16px;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    box-sizing: border-box;
    margin:6px 0 0 0;
  
}
.input-item i {
    position: absolute;
    font-size: 16px;

    top: 16px;
    display: inline;
}

#eye {

    color: #17202A;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;

    float: right;
    position: relative;
    right: 5%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}
/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #17202A ;
    background-color: white;

    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    margin-bottom: 20px;
    
}

input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}
input[id="pwd"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;

}
button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
  background-color: white;
}
span.psw a {
    color: white;
    float: right;
    padding-top: 16px;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float:none;
    margin-left: 2%;
}
.frgt-pass {background: transparent;}

.pass{
 text-align: left;
 margin: 10px 0;
}
.pass a{
    color: black;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
   }
   .pass:hover a{
    text-decoration: underline;
    }
    
    /* buttons hover */
    button:hover {
        transform: translatey(3px);
        box-shadow: none;
    }
    
    /* buttons hover Animation */
    button:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
    @keyframes ani9 {
        0% {
            transform: translateY(3px);
        }
        100% {
            transform: translateY(5px);
        }
    }</style>
    
</head>
<body>
  <div class="overlay">
            <!-- LOGN IN FORM by Omar Dsoky -->
            <form method="POST" action="/auth/register1">
               <!--   con = Container  for items in the form-->
               <div class="con">
               <!--     Start  header Content  -->
               <header class="head-form">
                  <h2>Connexion</h2>
                  <!--     A welcome message or an explanation of the login form -->
                  <p>Connectez-vous ici en utilisant votre e-mail et votre mot de passe</p>
               </header>
               <!--     la fin du contenu header  -->
               <br>
               <div class="field-set">
                 
                  <!--   user name -->
                     <span class="input-item">
                       
                       <i class="far fa-user"></i>
                       
                     </span>
                    <!--   user name Input-->
                     <input class="form-input" id="txt-input" type="text" name="email" placeholder="@e-mail" required>
                 
                  <br>
                 
                       <!--   Password -->
                 
                  <span class="input-item">
                    <i class="fas fa-lock"></i>
                   </span>
                  <!--   Password Input-->
                  <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
                 
            
                
                 <br>
                
                    <span class="psw"> <a href="#">Mot de passe oublié?</a></span>
              
                
             <button class="log-in"> Connexion </button>
               </div>
              
            
      {{#if message}}
<h3 >
    {{message}}
</h3>

{{/if}}
            </form>
            </div>
            
            <script src="https://kit.fontawesome.com/c67a4fcfea.js" crossorigin="anonymous"></script> 
  
      
  



</body>
</html>